<tr<%= ' class="participant"' unless score_lists.dropped_scores.nil? %>>
  <td><%= score_lists_counter + 1 %></td>
  <td><%= score_lists.performer.first_name %></td>
  <td><%= score_lists.performer.last_name %></td>
  <td><%= score_lists.performer.origin %></td>
  <%= render :partial => "scores", :collection => score_lists.scores, :locals => { :dropped => score_lists.dropped_scores } %>
  <td class="avg"><%= score_lists.average_final %></td>
</tr>
