<h1>Primrose Competition, 2011 Results</h1>

<p>
  Scores in red are being dropped from the averages.  In the competition, two random scores (out of nine)
  were dropped.  To view the results had the highest and lowest scores been dropped, click the Highest/Lowest
  link below.  To re-randomize the dropped scores, click Randomize below.  To reset the entire page, click
  Originals.
</p>

<p>
  This site was created by Cameron Raecke and <%= link_to "Cody Russell", "http://twitter.com/#!/bratschegnome" %>,
  the authors of <%= link_to "Magnum Opus", "http://mag.numop.us/" %>.
</p>

<%= link_to "Originals", "/", :id => "original" %>
<%= link_to "Highest/Lowest", "#", :id => "highlow" %>
<%= link_to "Randomize", "#", :id => "randomize" %>

<%= render :partial => "round", :collection => @rounds %>


<%= javascript_include_tag "primrose" %>
