<%- authors = [ ['Cameron Raecke', 'http://twitter.com/#!/craecke'],
    ['Cody Russell', 'http://twitter.com/#!/bratschegnome'] ] -%>
<%- authors.reverse! if rand(2) == 1 -%>

<div id="content">

<h1>Primrose Competition, 2011 Results</h1>

<p>
  Scores in red are being dropped from the averages. In the
  com&shy;pe&shy;ti&shy;tion, two ran&shy;dom scores (out of nine)
  were dropped. To view the re&shy;sults had the high&shy;est and low&shy;est
  scores been dropped, click the &ldquo;Highest/Lowest&rdquo;
  link below. To re-randomize the dropped scores, click
  &ldquo;Random&shy;ize&rdquo; below. To re&shy;set the en&shy;tire page,
  click &ldquo;Originals.&rdquo;
</p>

<p>
  This site was created by <%= link_to authors[0][0], authors[0][1] %> and
  <%= link_to authors[1][0], authors[1][1] %>,
  the authors of <%= link_to "Magnum Opus", "http://mag.numop.us/" %>.
</p>

<ul>
  <li><%= link_to "Originals", "/", :id => "original" %></li>
  <li><%= link_to "Highest/Lowest", "#", :id => "highlow" %></li>
  <li><%= link_to "Randomize", "#", :id => "randomize" %></li>
</ul>

<%= render :partial => "round", :collection => @rounds %>

<p class="disclaimer">
  Note: This site has no offi&shy;cial ass&shy;ocia&shy;tion
  what&shy;so&shy;ever with the Prim&shy;rose In&shy;ter&shy;na&shy;tional
  Competition.
</p>

</div>

<%= javascript_include_tag "primrose" %>
